[Desktop Entry]
Type=Application
Name=Sprite Studio
GenericName=Sprite Sheet & Animation Editor
Comment=Animated Sprite Management and Assembly Tool
Exec=SpriteStudio %F
Icon=spritestudio
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;Development;
MimeType=image/png;image/jpeg;image/bmp;image/gif;application/x-spritestudio;
Keywords=sprite;sheet;atlas;animation;pixelart;game;
